#parse("/velocity/layout.vm")
#@mainLayout()
<h2>The Entries that need to be reviewed.</h2>

<table style="width:100%">
    <tr>
        <th align= "left"><strong>Show ID</strong></th>
        <th align= "left"><strong>Show Title</strong></th>
        <th align= "left"><strong>Genre</strong></th>
        <th align= "left"><strong>Length</strong></th>
        <th align= "left"><strong>Year</strong></th>
    </tr>
    #foreach($show in $underInvestigatedShows)
    <form id="review" method="post">
        <tr>
            <td>$show.showid <input type="hidden" name="showid" value=$show.showid required> </td>
            <td>$show.showTitle <input type="hidden" name="showTitle"  value=$show.showTitle required></td>
            <td>$show.genre</td>
            <td>$show.length</td>
            <td>$show.year</td>
            <td><select id="Review" name="Review">
                <option value="accept">Accept</option>
                <option value="reject">Reject</option>
            </select>
            </td>
            <td><input type="submit" value="Submit"></td>
        </tr>
    </form>
    #end
</table>

#end